<!DOCTYPE html>

<html>
    <head>
        <title>{{chatbot_title}}</title>
        <link rel="stylesheet" href="/static/css/main.css" />
        <script type="text/javascript" src="/static/js/script.js"></script>
        <!--
            These are Google Fonts. For more, visit https://fonts.google.com/
            Feel free to use as many as you like ^^
        -->
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
        <!-- What are you still doing here? Get coding! -->

    </head>
    <body>
        <h1>{{chatbot_title}}</h1>
        <div id="messagespace">
            <p id="default">Hi! how may I help you? Type your query in the box below and press the 'send' button!</p>
        </div>

        <form id="fields">
            <input type="text" name="message" id="messagebox" placeholder="Type your message here..." />
            <input id="sendmessage" type="submit" value="Send" />
        </form>
    </body>

</html>
